@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h1>Token Info</h1>
<h2>Access Token</h2>
<p>@ViewData["accessToken"]</p>

<h2>Id Token</h2>
<p>@ViewData["idToken"]</p>

<h2>Refresh Token</h2>
<p>@ViewData["refreshToken"]</p>

<h1>Claims Info</h1>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>


<h1>LoginInfos</h1>
<h2>LoginInfos.Id</h2>
<p>@ViewData["LoginInfos.Id"]</p>

<h2>LoginInfos.ShopId</h2>
<p>@ViewData["LoginInfos.ShopId"]</p>

<h2>LoginInfos.Name</h2>
<p>@ViewData["LoginInfos.Name"]</p>

<h2>LoginInfos.Phone</h2>
<p>@ViewData["LoginInfos.Phone"]</p>

<h2>LoginInfos.Email</h2>
<p>@ViewData["LoginInfos.Email"]</p>

<h2>LoginInfos.Role</h2>
<p>@ViewData["LoginInfos.Role"]</p>