@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@*<h1>Token Info</h1>
<h2>Access Token</h2>
<p>@ViewData["accessToken"]</p>

<h2>Id Token</h2>
<p>@ViewData["idToken"]</p>

<h2>Refresh Token</h2>
<p>@ViewData["refreshToken"]</p>*@

<h1>Claims Info</h1>
<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>


@*<h1>LoginInfo</h1>
<h2>LoginIdToken</h2>
<p>@ViewData["LoginIdToken"]</p>

<h2>LoginAccessToken</h2>
<p>@ViewData["LoginAccessToken"]</p>

<h2>LoginRefreshToken</h2>
<p>@ViewData["LoginRefreshToken"]</p>

<h2>LoginExpiresAt</h2>
<p>@ViewData["LoginExpiresAt"]</p>

<h2>LoginId</h2>
<p>@ViewData["LoginId"]</p>

<h2>LoginShopId</h2>
<p>@ViewData["LoginShopId"]</p>

<h2>LoginName</h2>
<p>@ViewData["LoginName"]</p>

<h2>LoginPhone</h2>
<p>@ViewData["LoginPhone"]</p>

<h2>LoginEmail</h2>
<p>@ViewData["LoginEmail"]</p>

<h2>LoginRole</h2>
<p>@ViewData["LoginRole"]</p>*@
