@model ShopDto
@{
    ViewData["Title"] = "Shop Page";
}
<html>
<head>
	<meta charset="utf-8">
	<title>商店资料</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/component/pear/css/pear.css" />
</head>
<body>
<form class="layui-form" enctype="multipart/form-data" method="post" asp-action="Save">

    <div class="mainBox">
        <div class="main-container">
            <div class="main-container">
                <div class="layui-form-item">
                    @*<label class="layui-form-label">商店ID</label>*@
                    <div class="layui-input-block">
                        <input  type="hidden" name="Id" value=@Model.Id lay-verify="title" autocomplete="off" placeholder="请输入ID" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">店名</label>
                    <div class="layui-input-block">
                        <input type="text" name="Name" value="@Model.Name" lay-verify="title" autocomplete="off" placeholder="请输入商店名称" class="layui-input">
                    </div>
                    <span asp-validation-for="Name" class="text-danger offset-sm-5 my-sm-1"></span>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">联系人</label>
                    <div class="layui-input-block">
                        <input type="text" name="Contacts" value="@Model.Contacts" lay-verify="title" autocomplete="off" placeholder="请输入联系人" class="layui-input">
                    </div>
                    <span asp-validation-for="Contacts" class="text-danger offset-sm-5 my-sm-1"></span>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">手机号</label>
                    <div class="layui-input-block">
                        <input type="text" name="Phone" value="@Model.Phone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                    </div>
                    <span asp-validation-for="Phone" class="text-danger offset-sm-5 my-sm-1"></span>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">邮箱</label>
                    <div class="layui-input-block">
                        <input type="text" name="Email" value="@Model.Email" lay-verify="title" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                    </div>
                    <span asp-validation-for="Email" class="text-danger offset-sm-5 my-sm-1"></span>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">地址</label>
                    <div class="layui-input-block">
                        <input type="text" name="Address" value="@Model.Address" lay-verify="title" autocomplete="off" placeholder="请输入地址" class="layui-input">
                    </div>
                    <span asp-validation-for="Address" class="text-danger offset-sm-5 my-sm-1"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit="" lay-filter="user-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>


</body>
</html>
